---
import { Image } from "astro:assets";
import UpArrow from "../assets/uparrow.svg";
const { number, heading, description, about } = Astro.props;
---

<div class='section-card'>
  <div>
    <small class='number'>{number}</small>
    <h1 class='heading'>{heading}</h1>
  </div>

  <p class='description'>{description}</p>
  <a href='' class='about'>
    <div class='icons'><Image src={UpArrow} alt='' /></div>
    <p>{about}</p>
  </a>
</div>

<style>
  .section-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 350px;
    background-color: var(--bg-card-color);
    padding: 1.5rem;
    border: 0.5px solid var(--border-color);
  }
  .about {
    display: flex;
    gap: 0.4rem;
    text-decoration: none;
    p {
      font-size: 0.9rem;
      color: var(--sub-txt-color);
    }
  }
  .icons {
    padding: 0.5rem;
    background-color: var(--card-bg-color);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--heading-color);
  }
  .number {
    font-size: 0.8rem;
    font-weight: 100;
    color: var(--sub-txt-color);
  }
  .description {
    font-size: 1rem;
    font-weight: 300;
    color: var(--sub-txt-color);
  }
  @media (max-width: 400px) {
    .section-card {
      width: 100%;
    }
  }
</style>
