---
import { Image } from "astro:assets";
import gridImage1 from "../assets/about-bg.jpg";
import gridImage2 from "../assets/about-img.jpg";
import gridImage3 from "../assets/about-bg2.jpg";
import gridImage4 from "../assets/project-bg.jpg";
import ProjectImage1 from "../assets/image-1.png";
import Project1 from "../assets/image-1.png";
import ScrollCard from "../components/ScrollCard.astro";
import Image1 from "../assets/p-img1.png";
import Image2 from "../assets/p-img2.png";
import Image3 from "../assets/p-img3.png";
import ImageList1 from "../assets/image-1.png";
import ImageList2 from "../assets/image-2.png";
import ImageList3 from "../assets/image-3.png";
import ImageList4 from "../assets/image-4.png";

let images1 = [Image1, Image2, Image3];

let images = [ImageList1, ImageList2, ImageList3, ImageList4];
---

<div class='projects-section' id='projects'>
  <div class='project'>
    <div class='item main'>
      <div class='heading'>
        <div class='line'></div>
        <h1>PROJECTS</h1>
      </div>
      <div class='main-content'>
        <div class='main-item active' data-id='1'>
          <ScrollCard images={images} />
        </div>
        <div class='main-item' data-id='2'>
          <ScrollCard images={images1} />
        </div>
        <div class='main-item' data-id='3'>
          <ScrollCard images={images1} />
        </div>
        <div class='main-item' data-id='4'>
          <ScrollCard images={images1} />
        </div>
        <div class='main-item' data-id='5'>
          <ScrollCard images={images1} />
        </div>
        <div class='main-item' data-id='6'>
          <ScrollCard images={images1} />
        </div>
      </div>
    </div>
    <div class='item sub'>
      <div class='grid'>
        <div class='grid-item active-border' data-id='1'>
          <Image src={ProjectImage1} alt='' />
          <!-- <div class='overlay'></div> -->
        </div>
        <div class='grid-item' data-id='2'>
          <Image src={Image1} alt='' />
        </div>
        <div class='grid-item' data-id='3'>
          <Image src={gridImage1} alt='' />
        </div>
        <div class='grid-item' data-id='4'>
          <Image src={gridImage2} alt='' />
        </div>
        <div class='grid-item' data-id='5'>
          <Image src={gridImage3} alt='' />
        </div>
        <div class='grid-item' data-id='6'>
          <Image src={gridImage4} alt='' />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .projects-section {
    min-height: 100vh;
    background-color: var(--bg-color);
  }
  .line {
    height: 1px;
    width: 100px;
    background-color: var(--heading-color);
  }
  .heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    h1 {
      color: var(--heading-color);
      font-weight: 600;
    }
  }
  .project {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }

  .main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    place-content: center;
    background-color: var(--bg-color);
    width: 70%;
  }
  .main-content {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .sub {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    place-content: center;
    background-color: var(--bg-color);
    border-left: 1px solid var(--border-color);
    width: 30%;
    /* background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2)
      ),
      url(../assets/project-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .grid-item {
    background-color: #ddd;
    height: 150px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.53);
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .main-item {
    position: relative;

    height: 100%;
    width: 100%;
    display: none;
  }

  .main-item.active {
    display: flex;
  }
  .active-border {
    border: 2px solid var(--white);
  }
</style>

<script is:inline>
  // Get all the grid items
  const gridItems = document.querySelectorAll(".grid-item");

  // Add click event listener to each grid item
  gridItems.forEach((item) => {
    item.addEventListener("click", () => {
      // Get the id of the clicked grid item
      const id = item.getAttribute("data-id");

      // Get the corresponding main item
      const mainItem = document.querySelector(`.main-item[data-id='${id}']`);

      // Remove the active class from all main items
      const mainItems = document.querySelectorAll(".main-item");
      mainItems.forEach((item) => {
        item.classList.remove("active");
      });

      // Add the active class to the corresponding main item
      mainItem.classList.add("active");

      // Remove the active-border class from all grid items
      gridItems.forEach((item) => {
        item.classList.remove("active-border");
      });

      item.classList.add("active-border");
    });
  });
</script>
